**Python**

# Variables

**Definition** - Variables in Python are used to store data that can be referenced and manipulated throughout the program. They act as placeholders for values.

**Use Case in Real Life** - Variables can be used to store user information in registration form. for example - name, age and height could store the respective details of a user.

In [ ]:
# Assigning values to variables
name = "John Doe"
age = 30
height = 5.9

# Data Types

**Definition** - Data Types specify the type of data that a variable can hold. Common data types in python include integers, floats, strings, lists, tuples, dictionaries and booleans.

**Use Case in Real Life** - Data types are used to model different kinds of information. For example, a dictionary can store user profiles in a social media application where keys are profile attributes and values are the corresponding data

In [ ]:
# Integer
num = 10

In [ ]:
# Inbuilt function and operations for integer
print(abs(num))      # Absolute value

10

In [ ]:
print(bin(num))      # Binary representation

0b1010

In [ ]:
print(hex(num))      # Hexadecimal representation

0xa

In [ ]:
print(pow(num,2))    # Power function (num^2)

100

In [ ]:
print(divmod(num,3)) # quotient and remainder

(3, 1)

In [ ]:
# Float
price = 99.99

In [ ]:
# Inbuilt Function and operations for float
print(round(price))        # Rounding

100

In [ ]:
print(abs(price))          # Absolute value

99.99

In [ ]:
print(int(price))          # Converting to integer

99

In [ ]:
print(float("123.45"))     # Converting String to float

123.45

In [ ]:
print(price.is_integer())   # check if the float is an integer

False

In [ ]:
# String
greeting = "Hello, world!"

In [ ]:
# Inbuilt funcions and operations for string
print(greeting.lower())     # convert to lower case

hello, world!

In [ ]:
print(greeting.upper())     # Convert to uppercase

HELLO, WORLD!

In [ ]:
print(greeting.replace("world", "Python"))     # Replace substring

Hello, Python!

In [ ]:
print(greeting.split())        # Split string into a list

['Hello,', 'world!']

In [ ]:
print(greeting.find("world"))  # Find substring

7

In [ ]:
print(len(greeting))           # Length of the string

13

In [ ]:
# List
fruits = ['apple', 'banana', 'cherry']

In [ ]:
# Inbuilt functions and operations for list
fruits.append("orange")                # Append an element

In [ ]:
fruits.extend(["Grape", "melon"])      # Extend list with another list

In [ ]:
fruits

['apple', 'banana', 'cherry', 'orange', 'Grape', 'melon']

In [ ]:
fruits.remove("banana")       # Remove an element

In [ ]:
fruits.pop()        # Remove last element

'melon'

In [ ]:
fruits.sort()       # Sort the list

In [ ]:
print(fruits)

['Grape', 'apple', 'cherry', 'orange']

In [ ]:
print(len(fruits))     # Length of the list

4

In [ ]:
print(fruits[2])       # Access element by index

cherry

In [ ]:
print(fruits.index("cherry"))     # Find index of an element

2

In [ ]:
print("apple" in fruits)          # Check if an element is in the list

True

In [ ]:
# Tuple
# Tuples are immutable
coordinates = (10.0, 20.0)

In [ ]:
# Inbuilt functions and operations for Tuple
print(coordinates.count(10.0))     # Count occurrences of an element

1

In [ ]:
print(coordinates.index(20.0))        # Find index of an element

1

In [ ]:
print(len(coordinates))               # length of tuple

2

In [ ]:
# convert tuple to list to make them mutable
li  = list(coordinates)
print(li)

[10.0, 20.0]

In [ ]:
coordinates = tuple(li)         # convert list back into tuple
print(coordinates)

(10.0, 20.0)

In [ ]:
# Dictionary
person = {'name' : 'John', 'age' : 25}

In [ ]:
# Inbuilt functions and operations for Dictionary
print(person.keys())       # get all keys

dict_keys(['name', 'age'])

In [ ]:
print(person.values())     # get all values

dict_values(['John', 25])

In [ ]:
print(person.items())      # get all key-value pairs

dict_items([('name', 'John'), ('age', 25)])

In [ ]:
print(person.get('name'))       # get value by key

John

In [ ]:
person.update({"height" : 180})     # update dictionary with another dictionary

In [ ]:
person

{'name': 'John', 'age': 25, 'height': 180}

In [ ]:
person.pop("age")      # remove key-value pair by key

25

In [ ]:
person

{'name': 'John', 'height': 180}

In [ ]:
print(len(person))     # length of dictionary

2

In [ ]:
# Set
s = {1,2,3,4}
print(s)

{1, 2, 3, 4}

In [ ]:
# not allow duplicates
se = {1,1,1,1,1}

In [ ]:
se

{1}

In [ ]:
# length
print(len(s))

4

In [ ]:
# add
s.add(5)

In [ ]:
s.update({10,11,12})     # add another set

In [ ]:
s.remove(10)

In [ ]:
s

{1, 2, 3, 4, 5, 11, 12}

In [ ]:
# Boolean
is_active = True

In [ ]:
# Inbuilt functions and operations for boolean
print(int(is_active))              # Convert to integer (1 for True, 0 for False)

1

In [ ]:
print(bool(0))                    # Convert integer to boolean (False)

False

In [ ]:
print(bool(1))                    # Convert integer to boolean (True)

True

In [ ]:
print(bool("Hello"))              # Convert String to boolean (True)

True

In [ ]:
print(is_active and False)        # Logical AND

False

In [ ]:
print(is_active or False)        # Logical OR

True

In [ ]:
print(not is_active)             # Logical NOT

False

# Conditionals

**Definition** - Conditional Statements in Python (if, elif, else) are used to execute code based on certain conditions.

**Use Case in Real Life** - Conditionals can be used in and e-commerce application to provide different pricing tiers based on user memebership levels(e.g., standard, premium, VIP).

In [ ]:
# Basic if - else statement
age = 20

if (age < 18):
    print("Minor")
elif age >= 18 and age <= 65:
    print("Adult")
else:
    print("Senior")

Adult

In [ ]:
# Checking even or odd number
number = 42
if number % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Even number

In [1]:
# Grade Evaluation
score = 85
if score >= 90:
  print("Grade A")
elif score >= 80:
  print("Grade B")
elif score >= 70:
  print("Grade C")
elif score >= 60:
  print("Grade D")
else:
  print("Grade F")

Grade B

In [2]:
# temperature check:
temperature = 30
if temperature > 30:
    print("It's hot outside.")
elif temperature >= 20:
  print("It's a nice day.")
else:
    print("It's cold outside.")

It's a nice day.

In [3]:
# Nested conditionals for BMI Calculation
weight = 70
height = 1.75
bmi = weight / (height * height)

if bmi < 18.5:
    print("Underweight")
else:
    if bmi < 25:
        print("Normal weight")
    else:
        if bmi < 30:
            print("Overweight")
        else:
            print("Obese")

Normal weight

In [4]:
# Traffic Light System:
traffic_light = "red"

if traffic_light == "red":
    print("Stop")
elif traffic_light == "yellow":
    print("Slow down")
elif traffic_light == "green":
    print("Go")

Stop

In [5]:
# User login status:
is_logged_in = True
has_permission = True

if is_logged_in:
  if has_permission:
    print("Access Granted");
  else:
    print("Access Denied: Insufficient permission");
else:
  print("access denied: User not logged in")

Access Granted

In [8]:
# Age based discount:
age = 70

if age < 18:
  print("Eligible for child discount")
elif age >= 65:
  print("Eligible for senior discount")
else:
  print("Regular pricing")

Eligible for senior discount

In [9]:
# Multiple condition (AND/OR)
temperature = 25
weather = "Sunny"

if temperature > 20 and weather == "Sunny":
    print("It's a great day for walk.")
elif temperature <= 20 or weather != "Sunny":
    print("May be stay indoors today")
else:
  print("weather conditions are unusual")

It's a great day for walk.

# Loops

**Definition** - Loops are used to execute a block a code repeatedly. Python supports for and while loops.

**Use Case in Real Life** - Loops can be used to process items in a list. For instance, in a payroll system, a for loop could iterate through a list of employees and calculate their salaries.

In [10]:
# For Loop
for i in range(5):
  print(i)

0
1
2
3
4

In [12]:
# Iterating over a list
fruits = ['apple', 'banana', 'cherry', 'date']

for fruit in fruits:
  print(fruit)

apple
banana
cherry
date

In [13]:
# Iterating over a String
greeting = "Hello"

for char in greeting:
  print(char)

H
e
l
l
o

In [14]:
# iterating over a dictionary
person = {'name' : 'John', 'age' : 25}

for key, value in person.items():
  print(f"{key} : {value}")

name : John
age : 25

In [15]:
# using the range function with a Step
for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

In [16]:
# Nested for loops:
for i in range(3):
  for j in range(2):
    print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1

In [17]:
# using the 'enumerate()' function
fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits):
  print(f"{index} : {fruit}")

0 : apple
1 : banana
2 : cherry

In [19]:
# while loop
count = 0
while count < 5:
  print(count)
  count += 1

0

In [20]:
# while loop with Break
count = 0
while count < 5:
  print(count)
  count += 1
  if count >= 5:
    break

0
1
2
3
4

In [25]:
i=0
while i<10:
  print(i)
  break
  i+=1

0

In [23]:
# while loop with Continue
count = 0
while count < 10:
  count += 1
  if count % 2 == 0:
    continue
  print(count)

1
3
5
7
9

In [26]:
# using a while loop to process User Input:
user_input = ""
while user_input.lower() != 'quit':
  user_input = input("Enter a word (or 'quit' to exit): ")
  print(f"You entered: {user_input}")

Enter a word (or 'quit' to exit): hi
You entered: hi
Enter a word (or 'quit' to exit): hello
You entered: hello
Enter a word (or 'quit' to exit): quit
You entered: quit

In [27]:
# Iterating a countdown
countdown = 10
while countdown > 0:
  print(countdown)
  countdown -= 1
print("Blast off")

10
9
8
7
6
5
4
3
2
1
Blast off

In [28]:
# using a while loop for validation:
password = ""
while len(password) < 8:
  password = input("Enter a password (at least 8 characters): ")
  if len(password) < 8:
    print("password too short. Try again.")
print("Password accepted")

Enter a password (at least 8 characters): vanshika
Password accepted

# Real Life Example - Managing a Grocery store Inventory

**definition** - this example combines variables, data types, conditionals, and loops to manage a grocery store inventory.

**Use Case in Real Life** - A grocery store needs to keep track of its inventory, update it based on sales and restocks, and check the status of items

In [29]:
# variables in store inventory data
store_name = "Green Grocery"
inventory = {
    "apples" : 50,
    "bananas" : 30,
    "cherries" : 20
}
# Data type : Dictionary to store inventory
# Data type : Integer for item quantities

# Conditional: check inventory status
def check_inventory(item):
  if inventory[item] > 0:
    return f"{item.capitalize()} are in stock: {inventory[item]}"
  else:
    return f"{item.capitalize()} are out of stock."

# Loop : update inventory
def update_inventory(item, quantity):
  if item in inventory:
    inventory[item] += quantity
  else:
    inventory[item] = quantity

# Check and update directory
print(check_inventory("apples"))
update_inventory("apples", -10)
print(check_inventory("apples"))
update_inventory("oranges", 40)
print(check_inventory("oranges"))

Apples are in stock: 50
Apples are in stock: 40
Oranges are in stock: 40